<main>
    <h1>Password recovery</h1>
    <p>To finish password recovery please follow the link below:
        <a href="https://example.com/password-recovery?recoveryCode=<%= recoveryCode %>">recover password</a>
    </p>
</main>