<p>Hey {{ login }}</p>>
<p>Please click below to confirm your recovery password</p>
<p>
  <a href="{{ url }}">This is registration via link https://some.com?code={{ code }}</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>