apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
         - name: PROJECT
           image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
           ports:
             - containerPort: PORT_CONTAINER
           env:
             - name: BUCKET_NAME
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: BUCKET_NAME
             - name: BUCKET_SECRET_ACCESS_KEY
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: BUCKET_SECRET_ACCESS_KEY
             - name: BUCKET_ACCESS_KEY_ID
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: BUCKET_ACCESS_KEY_ID
             - name: BUCKET_ENDPOINT
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: BUCKET_ENDPOINT
             - name: BUCKET_REGION
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: BUCKET_REGION
             - name: DB_NAME
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: DB_NAME
             - name: MONGO_URL
               valueFrom:
                 secretKeyRef:
                   name: mypixelgram-files-api-production-config-secret
                   key: MONGO_URL
